@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;  
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/* ---- Fonts ---- */

/* --------------- */

/* ---- Doc ---- */
body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* --------------- */

/* ---- Wrapper ---- */
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

/* ----------------- */

/* ---- Container ---- */
.container {
  max-width: 1520px;
  margin: 0 auto;
}
/* --------------- */

/* ---- Header ---- */
.header {
  padding: 40px 0 43px 0;
  border-bottom: 1px solid #6C6E7B;
}
.header__body .header__logo {
  font-family: Segoe UI;
}
.header__body .header__logo img {
  padding-right: 24px;
  height: 66px;
  float: left;
}
.header__body .header__logo span {
  color: #2C145E;
  font-size: 28px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  word-wrap: break-word;
}

/* ---------------- */

/* ---- Footer ---- */
.footer__row {
  border-top: 1px solid #6C6E7B;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* ---------------- */
