/* ---- Main ---- */
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main__navigation {
  font-size: 16px;
  line-height: normal;
  margin: 72px 0 21px 0;
}
.main__navigation a {
  color: #000;
  margin-right: 5px;
}
.main__navigation span {
  color: #6C6E7B;
  margin-left: 5px;
}
.main__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 63px;
}

.article {
  margin-bottom: 137px;
}
.article__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.article__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}
.article__content .article__time {
  padding: 6px 18px;
  border-radius: 20px;
  background: #ECF2F5;
  font-size: 16px;
  color: #6C6E7B;
}
.article__content .article__title {
  color: #841844;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}
.article__content .article__text {
  font-size: 20px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 22px;
}
.article__content .article__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid #9B407A;
}
.article__content .article__button-arrow {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.article__content .article__button-text {
  color: #841844;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.article__button:hover {
  background-color: #841844;
}
.article__button:hover .article__button-text {
  color: #fff;
}
.article__button:hover .article__button-arrow path {
  fill: #fff;
}

.article__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-top: 80px;
  max-height: 570px;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__img img {
  width: 100%;
}
